[2020-11-19 02:29] xztema0207 opened #5 "Plz, could U give a clue to resolve npm warn and chrome error?"
I try to install "npm install upscaler" as you guided in document.
but, there are some warn message as follow.
and then in chrome, there are err msg like "Uncaught SyntaxError: Cannot use import statement outside a module"

Plz, could U give a clue to resolve the npm err and chrome err?

===============================
npm notice created a lockfile as package-lock.json. You should commit this file

[2020-12-14 03:34] mostlyfabulous commented on #5
Just `npm install` those missing peer dependencies.

[2021-01-11 05:00] addyosmani opened #8 "Alpha-transparency support"
Great work on Upscaler, @thekevinscott! I've recently been using it for a small side-project. When processed through the library, I observed that PNG images with an alpha channel / which are transparent appear to get a solid black color background. This appears to happen with all models.

I wanted to ask if there was a small fix possible for this upstream in Upscale. My alternative workaround is l

[2021-01-12 16:16] thekevinscott commented on #5
Like @mostlyfabulous said - you have to install the dependencies yourself.

[2021-01-12 16:16] #5 closed

[2021-01-12 16:38] thekevinscott commented on #8
Really interesting question! My gut says your workaround of pre/post-processing is going to be the easiest solution here, as it would mean, like you say, tackling it upstream, specifically re-training a model from scratch to support 4 channels instead of 3 (similar logic to why you need different models for different scale sizes).

If you _do_ want to go down that path: all of the models are train

[2021-01-12 23:13] danwexler opened #9 "Cancel active operation?"
Upscale on larger images can take awhile. Might be nice to be able to cancel active upscales. Perhaps via the return value of the progress() callback?

[2021-01-15 22:39] danwexler commented on #9
I've implemented this in my tree for testing using the following patch (works in both Browser Worker and node):

`diff --git a/node_modules/upscaler/dist/upscale.js b/node_modules/upscaler/dist/upscale.js
index 77d57fc..a9c0733 100644
--- a/node_modules/upscaler/dist/upscale.js
+++ b/node_modules/upscaler/dist/upscale.js
@@ -138,7 +138,7 @@ exports.predict = (model, pixels, modelDefinition, { prog

[2021-01-17 04:57] addyosmani commented on #8
Thank you for the helpful detailed reply, @thekevinscott!

I appreciate the validation on approach! As my use-case is upscaling a class of images that often has 4 channels (Memoji, stickers) I've gone ahead and implemented a pre-processing step to address this issue for now. Images are written to `<canvas>` where a solid color is required (defaults to white, with support for user customization) in

[2021-01-18 04:14] jlarmstrongiv opened #10 "Thank you"
I was just searching for online repos like https://github.com/IBM/MAX-Image-Resolution-Enhancer to convert to tensorflowjs, but this is exactly what I was looking for 😄 thank you for publishing it—can’t wait to try it out

[2021-01-18 04:14] #10 closed

[2021-01-18 10:29] jlarmstrongiv opened #11 "NodeJS Support"
It’d be great to see support for running these upscaler models in NodeJS 😄

This will require changing how images are loaded (https://github.com/thekevinscott/UpscalerJS/blob/master/src/image.ts#L4).  It would be great to support both image paths and buffers.  There may be other changes too, but that’s where my error was thrown 😂

While UpscalerJS already supports webworkers, it may be good to use

[2021-01-21 21:46] danwexler commented on #11
Upscaler already works in Node, both using tfjs-node and tfjs-node-gpu. I have it running using the CPU on OSX and the GPU on GKE.

[2021-01-21 21:52] danwexler opened #12 "realDivide missing in tfjs-node"
The tf.div in models/idealo-gans.js fails when running using tfjs-node on Ubuntu. I get the following error:

`'realDivide' not yet implemented or not found in the registry. This kernel may not be supported by the tfjs backend you have chosen`

I do NOT see this error running using the CPU backend on OSX. Everything works fine. On Ubuntu it fails. I've tested this using the 1.15.5 tensorflow gpu i

[2021-01-21 21:53] jlarmstrongiv commented on #11
That’s great news!  I tried searching the [documentation](https://thekevinscott.github.io/UpscalerJS/#/?id=upscalerjs) for NodeJS, but came up empty.

@danwexler Could you post a short example snippet?  I tried following the [quickstart](https://thekevinscott.github.io/UpscalerJS/#/?id=getting-started), but ran into the error with HTMLImageElement from [loadImage](https://github.com/thekevinscott/

[2021-01-21 21:57] danwexler commented on #11
Here's an example:
[code]

[2021-01-21 21:59] jlarmstrongiv commented on #11
Thank you @danwexler I’ll try it out later this evening 😄

[2021-01-21 22:02] danwexler commented on #11
Let me know if you hit the realDivide issue I just posted, #12

[2021-01-24 20:52] addyosmani opened #13 "Open Collective, Buy Me A Coffee or GitHub Sponsors?"
I would love to give a small donation for the great work done on this repo and its supporting work. Is there a preferred place to do this, @thekevinscott? :)

[2021-01-27 07:10] ffoxD opened #14 "Its very very slow"
I used www.upscaler.ai to upscale a bunch of photos, but its extremely slow... I originally thought it got stuck at 0% but it does do progress. I got to 12% as I'm writiing this, i will update if it finishes... It took a very long time tho. A Linux user, tried on Firefox and Chromium.

[2021-01-27 08:40] ffoxD commented on #14
Okk it finally did it, but.... Please improve performance. It's horribly slow.

[2021-01-27 09:01] ffoxD commented on #14
Maybe pixel-art sized images make i run extremely slow? The smaller is the image, the more it takes.... In fact it just went from 70% to 40% for some reason, its weird

[2021-01-27 13:20] dziku86 commented on #14
It depends on your computer processor power capability.  In Chrome press `SHIFT` + `ESC` to open task manager and see how much CPU does it use.

[2021-01-29 00:17] thekevinscott commented on #13
Oh gosh, I appreciate that very much! I've yet to set up Github Sponsors, but I [do have an e-book for sale](https://gumroad.com/l/dljsbook) at a pay-what-you-want price point. I'd also love any feedback / things you're interested in learning more about as I prepare a second edition!

[2021-01-29 00:55] #8 closed

[2021-01-29 01:00] addyosmani commented on #13
Purchased with a tip! :)

Thank you so much for the great work on both this project and the approachable book. In my work, I've had the opportunity to meet with the TensorFlow.js team a few times over the years - I've always felt like we were missing more compelling use-cases for ideas with models that could be executed relatively quickly client-side (and could still do well enough on mobile Snapd

[2021-01-29 01:00] #13 closed

[2021-01-31 01:24] danwexler commented on #14
Also much faster with a larger GPU, since it leverages TensorFlow's WebGL back-end. I use it for low-resolution images, say 128x128 all the time. Upscaling those takes about 8 seconds on my 2018 MBP. For more information on performance, I suggest looking into TensorFlow, since that's the computing engine. Much less can be done within the UpscalerJS code to improve performance.

[2021-02-19 23:04] just-toby opened #15 "Input format error in tfjs, not sure how to fix at the callsite"
`IMG <Buffer 89 50 4e 47 0d 0a 1a 0a 00 00 00 0d 49 48 44 52 00 00 03 e8 00 00 03 e8 08 06 00 00 00 4d a3 d4 e4 00 00 00 01 73 52 47 42 00 ae ce 1c e9 00 00 20 00 ... 188663 more bytes>
(node:22926) UnhandledPromiseRejectionWarning: Error: Error when checking : expected LR_input to have shape [null,null,null,3] but got array with shape [1,1000,1000,4].
    at new ValueError (/node_modules/@tensorf

[2021-02-19 23:17] just-toby commented on #15
the file i'm calling `upscaler.upscale` on is just a PNG formatted file

[2021-02-21 15:44] thekevinscott commented on #12
This is a great find (and sorry for the delay in response, @danwexler ). Would you be open to making this a PR?

[2021-02-21 15:55] thekevinscott commented on #9
Being able to cancel an upscale operation is a fantastic idea.

I'm not sure I love the idea of doing it via the `progress` callback, though. To me, leveraging something like an [abortable promise](https://www.npmjs.com/package/promise-abortable) feels more intuitive, so you could do something like:

[code]

Alternatively, `fetch` has a similar API, and uses [`AbortController`](https://developer.m

[2021-02-21 16:02] thekevinscott commented on #11
Jumping onto this thread late - thank you @danwexler for providing guidance and runnable code!

I'm not super familiar with TFJS in Node, but it sounds like y'all have been able to get it running. From a maintenance perspective it'd also be useful to:

- Add tests for browser and node environments like you mentioned @jlarmstrongiv
- Add documentation for Node support
- integrate `upscaleImagetoUIn

[2021-02-21 16:13] thekevinscott commented on #14
Agree with the advice others have posted - it's largely limited by TFJS and your running hardware.

Some things to check:

- [That you're warming up your model](https://thekevinscott.github.io/UpscalerJS/#/?id=warmup) which can speed up the initial inference
- That you're [implementing web workers](https://github.com/thekevinscott/UpscalerJS/tree/master/examples/webworker)
- That you're [setting p

[2021-02-21 16:13] thekevinscott commented on #15
@just-toby can you provide a runnable code example (e.g., on codesandbox.io), or a Github repo demonstrating?

[2021-03-11 00:16] danwexler commented on #12
Yep. Will do. FYI, I have found a number of memory leaks in the code as well, which are particularly visible when running in Node on a GPU. I'll try to make a separate PR for those fixes as well.

[2021-03-14 23:47] #15 closed

[2021-03-15 00:07] thekevinscott commented on #12
Awesome, looking forward to it!

If you haven't started yet, make sure to pull master. I pushed a refactor that moves code into `packages/upscalerjs`, so that I was able to import the models from https://github.com/thekevinscott/UpscalerJS-models into this repo.

[2021-03-22 21:29] danwexler opened #61 "Leaking tensors"
I've found a number of memory leaks in your code where tensors are not properly disposed. My code is now different than this library (this was super helpful!), but I'll try to list the changes here in case someone else has time to make a PR:

src/upscale.ts:296: wrap getProcessedPixels in tf.tidy
src/upscale.ts:308: wrap getProcessedPixels in tf.tidy
src/upscale.ts:238: slicedPixels.dispose
src/up

[2021-03-23 00:10] thekevinscott commented on #61
This is great stuff, thanks for documenting these trouble spots @danwexler.

If anyone from the community wants to jump on this, you are more than welcome. Otherwise I'll take it on.

[2021-03-23 00:25] thekevinscott commented on #11
Question for the group - would you (if willing) speak more to your use case for running in Node?

For background, I assumed that the main use case for UpscalerJS would be via the browser, thus the lack of Node support out of the box. But if there's appetite for Node, it also makes me wonder whether the _training_ code should be ported over; e.g., whether we should rewrite [ESRGAN](https://github.c

[2021-03-23 00:38] danwexler commented on #11
I'm building a tool that uses TFJS in both the client and the server. It allows you to connect to your cloud storage, or load local files, and then apply a TF image processing model. You can run the models in either locally the browser or at scale on the cloud. It can also generate annotations (labels) which can be used to search for images or videos across your cloud storage drives. In my case, t

[2021-03-23 00:47] thekevinscott commented on #11
That makes a lot of sense, and is very cool. Thanks @danwexler!

[2021-03-23 00:51] jlarmstrongiv commented on #11
Oh!  I missed must’ve missed your last reply—whoops.  I ended up learning to train custom models with https://github.com/victorca25/BasicSR I tried, but was unable to convert models to tfjs.  @thekevinscott do you have any tips for converting models?

[2021-03-23 01:16] thekevinscott commented on #11
Well, the main issue with that particular repo is it's using Pytorch, whereas you'd want a Tensorflow version. I've seen some folks discuss converting Pytorch models to Tensorflow (sometimes with ONNX as an in-between) but I haven't tried that myself. I'm not sure how the two codebases manage the core ops, so I could see it getting pretty hairy for anything non-trivial.

Assuming you find a Tensor

[2021-03-23 01:25] jlarmstrongiv commented on #11
Ahh alrighty.  I was able to get from pytorch => onnx => tensorflow, but the tensorflow => tfjs failed.  I also tried onnx => onnxjs, but that library isn’t compatible with the latest versions.

[2021-03-23 01:30] thekevinscott commented on #11
Gotcha. Yeah, I haven't spent too much time with onnxjs, but with PyTorch picking up so much mindshare it may be worth a second look.

[2021-03-27 15:39] thekevinscott commented on #11
Just wanted to follow up on the ONNX.js point - although [commits are still being made](https://github.com/microsoft/onnxjs/commits/master) to the repo, [issues like this](https://github.com/microsoft/onnxjs/issues/94#issuecomment-612183308) and [this](https://github.com/microsoft/onnxjs/issues/268) make it seem like there's some big gaps (and the last release was 7 months ago). So it's probably n

[2021-03-27 16:00] jlarmstrongiv commented on #11
Yep, the lack of onnxjs support worried me.  One other solution I didn’t mention was compiling to WASM.  Pytorch has a c++ lib which can be ported.  Since c++ is officially supported, there would be fewer edge cases compared to converting the models 3+ times to js.  But my lack of c++ knowledge means that solution isn’t feasible for me.

[2021-04-16 19:14] jlarmstrongiv commented on #11
More alternatives include NodeJS C++ addons, with example implmentations:
- https://github.com/vvmnnnkv/libtorchjs
- https://github.com/torch-js/torch-js

[2021-04-20 05:55] weingaunity commented on #11
At the end i did the same. My solution was now converting the ONNX file to a tensorflow.js based on [this](https://thenewstack.io/tutorial-import-an-onnx-model-into-tensorflow-for-inference/) i'm using now following lines:

[code]

[code]

[2021-04-30 00:24] #14 closed

[2021-05-07 20:28] RyukAD commented on #11
Hi,
On I'm on node 10.24, and when i try to specify a custom model like this :
`const upscaleed = new Upscaler({
        model: '/home/agam/flash_images/node_modules/@upscalerjs/models/models/psnr-small-quant-uint8/image-super-resolution-psnr-small.h5',
        scale: 2,
    });`

  it says :
`(node:21262) UnhandledPromiseRejectionWarning: TypeError: Only absolute URLs are supported
    at getNode

[2021-05-16 20:53] thekevinscott commented on #11
I haven't used this library for Node myself, I'm curious if others in the community can chime in with their solutions.

I don't think Tensorflow.js supports paths to relative models like you're specifying. [You may be able to try something like this](https://stackoverflow.com/a/53766926) - though I'm not 100% sure if the `loadModel` code is set up to correctly handle non-URLs. If not, we (or I) sh

[2021-08-04 13:57] Loksly opened #118 "patch-sizes example seems not to be working by now"
**Describe the bug**

https://github.com/thekevinscott/UpscalerJS/tree/master/examples/patch-sizes

**To Reproduce**
This is the url that [patch-sizes/README.md](https://github.com/thekevinscott/UpscalerJS/blob/master/examples/patch-sizes/README.md) links to:

https://codesandbox.io/s/github/thekevinscott/upscalerjs/tree/master/examples/patch-sizes

**Expected behavior**
Runs flawlessly

**Screens

[2021-08-10 13:21] thekevinscott commented on #118
Still working on fixing this.

The primary issue was that the location of the two exported functions changed. I've updated both to be exported from the root, but now see a new problem:

<img width="717" alt="Screen Shot 2021-08-10 at 9 21 41 AM" src="https://user-images.githubusercontent.com/151596/128874391-27a4151f-4d97-4395-8a9e-10e97bf56bc1.png">

[2021-09-13 08:02] virafpatrawala opened #123 "Upscale does not work when you switch tabs"
Correct me if this is expected behavior, but the upscaling just stops when I switch to other tabs/windows.

https://www.upscaler.ai
To replicate, upload an image to the above demo and switch the tab. When you return after a while, the loading will be at the same stage you left it.

[2021-10-09 00:13] tylorkolbeck commented on #123
This is more than likely your browser stoping an "unused" or not visible tab from using memory. This is common for browsers to manage memory and not use it up on things that it thinks you are not using.

[2021-10-19 15:26] ivanjeremic opened #124 "Is this package using eval()?"
I try to use this package in cloudflare workers and thanks to the errors they gave me I found out that a dependency of this package uses `eval()` (seedrandom), is this really needed? Is it possible to rewrite this without `eval()`?

Cloudflare Worker Error:
[code]

[2021-10-25 17:48] #124 closed, assigned to thekevinscott

[2021-11-09 15:09] thekevinscott commented on #118
This should not have been closed, I’ve removed stalebot.

[2021-11-09 15:09] thekevinscott commented on #61
This should not have been closed, I’ve removed stalebot.

[2021-11-09 20:26] thekevinscott commented on #118
This should now be fixed.

[2021-11-09 20:26] #118 closed

[2021-11-19 14:38] Ramstein opened #151 "Complete Black image on Upscaling via GAN4k"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Please provide a link to runnable code on http://codesandbox.io/ (preferred), or a link to a repository demonstrating the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional c

[2021-11-22 14:58] thekevinscott commented on #151
Thanks for the report @Ramstein. I need some more information to debug - browser / OS, and ideally a runnable codesandbox link (or a link to one of the examples that's broken).

[2021-12-16 00:07] LuckyMallari opened #152 "Outdated tfjs version"
**Describe the bug**

Outdated tfjs version. Integrating your lib with a project that uses a more modern tfjs breaks npm install.
[code]

Also, you are explicitly stating a version. Target either a major or a minor version instead:
[code]

**To Reproduce**
Create another project that depends on tfjs 3+

**Expected behavior**
`npm install` should resolve

[2021-12-21 05:45] LuckyMallari opened #153 "Load models from file system"
**Describe the bug**
https://github.com/thekevinscott/UpscalerJS/blob/c8f5aeff9e6e70cb41d7b773be5b34416bf2ecca/packages/upscalerjs/src/loadModel.ts#L134

Because description is retrieved using fetch, this will only work for models from the are exposed as HTTP/s resource.

Instead of using just `fetch`, check if parameter contains http/https protocol. if not, assume it is a trying to retrieve using

[2022-01-17 21:19] thekevinscott commented on #151
Closing - please provide more information and we can reopen.

[2022-01-17 21:19] #151 closed

[2022-01-23 19:10] thekevinscott commented on #152
This is now published as `0.9.0` on `npm`.

[2022-01-23 19:10] #152 closed

[2022-01-25 09:22] LokiMidgard opened #173 "Wrong image displayed as result while calculating the upscaled version"
**Describe the bug**
When upscaling an Image the percentage is jumping forth and back (for some time). And then it shows the result of the last image upscaled before being finished.

You can look at the screenshot below, it will displayed an image I upscaled before (from the samples of this site) while still showing the percentage that it is not finishied. I assume it was shortly at or over 100% a

[2022-01-25 09:35] LokiMidgard opened #174 "Big images crash the website"
**Describe the bug**
using a big image (see reproduce). Will after some time make the browser go black (compleetly titlebar and everything) for a seccond. After that the console is full of warnings. WebGl has lost its context.

The result then will be just a black image 😥

**To Reproduce**
Use following image:

![6d56828e-5152-4bbe-8ccf-50f2e5faef60](https://user-images.githubusercontent.com/38910

[2022-01-29 20:53] thekevinscott commented on #12
Whoops, I didn't realize this was already fixed by https://github.com/thekevinscott/UpscalerJS/pull/60/files

[2022-01-29 20:53] #12 closed

[2022-01-29 22:17] thekevinscott commented on #11
Node support is being tracked in #185.

Canary releases are available on npm at `0.10.0-canary.x` (currently `0.10.0-canary.1`)

[2022-01-31 23:41] thekevinscott commented on #153
@LuckyMallari thanks for reporting.

Are you asking that a local model expose it's configuration through the file system on Node? Or simply that fetch work correctly in the Node environment?

The latter is fixed and available in the branch #185. It's also available on `npm` as `0.10.0-canary.2`.

[2022-01-31 23:48] LuckyMallari commented on #153
Local file system is fine, just feed it with path and should make it more useable.

[2022-02-03 13:35] thekevinscott commented on #153
This particular method is for fetching and exposing descriptions of available models. The provided models are stored separately from the UpscalerJS package and are served via a CDN (currently, `unpkg`). That package is on `npm` at [`@upscalerjs/models`](https://www.npmjs.com/package/@upscalerjs/models).

There's no mechanism in UpscalerJS for fetching a local model's description and exposing it. Y

[2022-02-03 15:44] LuckyMallari commented on #153
Thanks for the response. A good use case is a completely offline usage. A low resolution camera capture that upscales the image as a preprocessing step. With it being offline, fetch would not work unless I host and run a light server on the same macgine just to fetch the description. The current implementation makes internet connection a requirement.

[2022-02-04 11:46] thekevinscott commented on #173
Thanks for reporting in @LokiMidgard - I'm focused on wrapping up the Node support branch (#185) but once that's complete I'll take a look at this and the other bug you reported.

[2022-02-23 13:53] thekevinscott commented on #61
This is now fixed in PR #213

[2022-02-23 13:53] #61 closed

[2022-02-23 14:04] thekevinscott commented on #11
Latest Node release is on `npm` as `upscaler@0.10.0-canary.5`.

This will be the last canary release before an official `0.10.0` release, pending discovery of any show-stopping bugs. `0.10.0` will be released once documentation is ready.

[2022-02-27 23:39] thekevinscott commented on #11
#185 was merged and Node support is live.

UpscalerJS with Node support has been published on npm as `0.10.0`.

Make sure to import the correct package for your system:

[code]

If you run into any bugs, please make a new issue!

[2022-02-27 23:39] #11 closed

[2022-03-05 23:50] thekevinscott commented on #9
This has been implemented in:

 https://github.com/thekevinscott/UpscalerJS/pull/235

https://upscalerjs.com/#/?id=abort

[2022-03-05 23:50] #9 closed

[2022-03-26 21:51] FrederikS2002 opened #263 "upscaler crashes when node starts"
I tried to install it, but it throws this error when I start the server
[code]

[2022-03-26 22:05] #263 closed

[2022-04-11 23:00] thomasuster opened #274 "Unable to run examples"
1. git clone https://github.com/thekevinscott/UpscalerJS.git
2. cd UpscalerJS/examples/basic/
3. yarn start

Expected: Should start the project in the browser.
Result: Errors with this message.

<img width="816" alt="image" src="https://user-images.githubusercontent.com/220965/162846845-edf55d05-45be-4aa7-8cbb-9f8be559bc28.png">

[2022-04-13 10:57] thekevinscott commented on #274
The specific error shown here is because you have to install dependencies first. However, there's a _separate_ bug related to examples that you'd probably hit immediately after, that I've just fixed in #278.

Follow these steps:

1. `git clone https://github.com/thekevinscott/UpscalerJS.git`
2. `cd UpscalerJS`
3. `yarn` _(this is the step that installs dependencies)_
4. `cd examples/basic`
5. `yar

[2022-04-13 10:57] #274 closed

[2022-04-21 04:28] nminchow opened #284 "Unable to Use Non-default Models in Node"
**Describe the bug**
I'm unable to specify models other than the default in a node environment. When I attempt to, I encounter the following:
[code]

**To Reproduce**

https://github.com/nminchow/cmd-line-upscaler/commit/0c89c43d94cd42542b23a605e56cfb495a193b71 on [this branch](https://github.com/nminchow/cmd-line-upscaler/tree/switch-to-2x-model) introduces the error. I'm using node 18.0.0. The [

[2022-04-21 04:39] nminchow opened #285 "Import Error when Attempting to use Node-gpu"
**Describe the bug**
When I attempt to `import Upscaler from 'upscaler/node-gpu';` I encounter an `ERR_MODULE_NOT_FOUND`:

[code]

I'm attempting to follow the instructions here: https://github.com/thekevinscott/UpscalerJS/issues/11#issuecomment-1053724395, and [in the quickstart](https://github.com/thekevinscott/UpscalerJS/tree/main/docs#quick-start).

**To Reproduce**
https://github.com/nminchow

[2022-04-24 20:40] thekevinscott commented on #285
Thank you for the bug report and the instructions on how to reproduce, @nminchow.

In `0.12.3` (just published) the `node-gpu` folder should be present in `dist`. Let me know if you're still seeing issues.

[2022-04-24 20:40] #285 closed

[2022-04-24 22:53] thekevinscott commented on #284
Thanks again for the bug report and the reproducible repo.

I think this is happening because the README is out of date. Try running this with:

[code]

The full list of models can be seen here:

https://github.com/thekevinscott/UpscalerJS/blob/main/packages/upscalerjs/src/models.ts#L25

I'll make a note to update the README with the correct list of models, but hopefully this should get you unbloc

[2022-05-28 23:38] NayamAmarshe opened #298 "SyntaxError: Unexpected token 'export' with Next.js"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
I just created a next.js electron project: https://github.com/vercel/next.js/tree/canary/examples/with-electron
and imported upscaler. Changed nothing else and didn't add anything else. Just did yarn add upscaler and yarn add @tensorflow/tfjs.

[2022-05-29 07:55] NayamAmarshe commented on #298
Fixed.

Had to use `next-transpile-modules` and next.config.js:

[code]

[2022-05-29 07:55] #298 closed

[2022-07-14 19:45] thekevinscott commented on #284
[I've just released 1.0.0-beta.4 on NPM](https://www.npmjs.com/package/upscaler/v/1.0.0-beta.4) - this introduces the breaking change I mentioned above.

I'm going to close this issue, but please feel free to reopen if you're still seeing issues.

[2022-07-14 19:45] #284 closed

[2022-07-15 13:33] thekevinscott opened #355 "Difference in RDN upscaled images between browser and Node"
**Describe the bug**
RDN models produce different images between the browser and Node

**Screenshots**
Div2K 3x, Browser:
![download](https://user-images.githubusercontent.com/151596/179233501-125b5063-7154-436e-8407-60ad4f0699b9.png)

Div2K 3x, Node;
![download (1)](https://user-images.githubusercontent.com/151596/179233498-ccfcffd0-4cec-47f7-bdfc-6c6119da3ada.png)

[2022-07-15 13:35] thekevinscott opened #356 "Specifying patch size in Node crashes"
Using the Div2k 3x model from `@upscalerjs/esrgan-legacy`, a Node implementation crashes if provided a patch size smaller than the image (128px).

**Error**
[code]

**Code**

[code]

[2022-07-16 13:55] thekevinscott opened #361 "Refactor CJS model builds to not require "default""
To load a model via CJS, you need to explicitly require the `default`:

[code]

`default` should be exported via `module.exports`.

[2022-07-23 15:56] xan2622 commented on #174
I use Firefox 102.0.1 on Windows 11 and while it doesn't crash here, it takes a verrrrry long time to process the upscaling (I can almost say that it stalls on 1%).

![75330](https://user-images.githubusercontent.com/1732773/180612715-0ad490d3-faba-4d9b-91c6-98323afc0ed1.png)

[2022-07-28 15:49] thekevinscott commented on #355
This is not, in fact, related to https://github.com/tensorflow/tfjs/issues/6627. [The fix for this issue is primarily here](
https://github.com/thekevinscott/UpscalerJS/pull/387/files#diff-0626bb8a1f4bc5b5e96e79d30581d2d11ad6f9aee45ecca8fcc5fde5ba891f09R71), though also scattered across a few PRs as well.

The issue here is the behavior of the two main models, the RDN model and the RRDN (GANS) mod

[2022-07-28 15:49] #355 closed

[2022-07-30 21:13] cedriclikescode opened #428 "upscaler.ai website gone (replaced with a basic html page)"
**Describe the bug**
visiting http://upscaler.ai shows a blank page with "This domain was recently registered at Namecheap.com.".

**To Reproduce**
simply go to http://upscaler.ai

**Expected behavior**
the website should not be a blank page

**Screenshots*
![upscale ai gone](https://user-images.githubusercontent.com/104719938/181996312-deb9acc5-139c-49eb-a867-fb58ae401e11.png)

**Additional conte

[2022-07-31 10:49] cedriclikescode commented on #428
Never mind, website works now.

[2022-07-31 10:49] #428 closed

[2022-08-01 03:55] goldenjayr commented on #356
I have the same problem.. is there a fix for this???

[2022-08-03 12:25] thekevinscott commented on #428
Thank you for reporting this @cedriclikescode - the DNS had expired, so I had to go ahead and renew. My bad!

[2022-08-03 12:25] thekevinscott commented on #356
@goldenjayr not yet, still investigating as to why this happens.

[2022-08-04 05:51] NayamAmarshe opened #430 "Upscaling finishes but no change in image. GPU process exited unexpectedly"
**Describe the bug**
[code]

**To Reproduce**
I'm using React.js in Electron.js. The code is exactly the same as in the code examples, the only difference is it's running in electron.js

**Expected behavior**
Upscaled Image should be different

**Screenshots**
![image](https://user-images.githubusercontent.com/25067102/182772587-c73f8abf-943a-4841-b45f-64e3864147a7.png)

**Additional context**
I a

[2022-08-05 16:00] thekevinscott commented on #361
This is fixed as of #421

[2022-08-05 16:00] #361 closed

[2022-08-05 16:01] thekevinscott commented on #153
I'm going to close this issue. Please let me know if you are still seeing it on the latest beta release.

[2022-08-05 16:01] #153 closed

[2022-08-05 16:02] thekevinscott commented on #356
The issue appears to be related to this: https://github.com/tensorflow/tfjs/issues/6125

Specifically, the behavior of concatenating tensors differs in TFJS between the browser and Node.

I am attempting to refactor the code to avoid the TFJS bug.

[2022-08-05 17:38] thekevinscott commented on #356
This should be fixed and released as `1.0.0-beta.6`. (Also ensure you're on `1.0.0-beta.6` for the model you're consuming.)

If you're still seeing issues @goldenjayr please feel free to re-open.

[2022-08-05 17:38] #356 closed

[2022-08-11 16:56] NayamAmarshe commented on #430
Any suggestions?

[2022-08-12 11:29] thekevinscott commented on #430
Sorry, I haven't had a chance to look at this yet. I'm not very familiar with Electron, could you provide a repo that reproduces this?

[2022-08-12 11:40] thekevinscott opened #443 "Cloudflare Worker support"
This is a thread to track work related to enabling a first-class experience with UpscalerJS within a Cloudflare Worker.

Currently, the Upscaler works in a (somewhat) isolated fashion: if one uses the browser package, explicitly specifies a model, feeds a tensor in and asks for a tensor out, it works.

Unfortunately, importing `@tensorflow/tfjs-node` within a Cloudflare Worker fails with ```Uncaug

[2022-08-13 00:07] Ana0112 opened #444 "Any way to deblur the image only"
I dont want to 2x or 4x the image, but only deblur/sharpen it.
Is there anyway I can basically select resolution as 1x and still get a sharpened image?
Thanks!

[2022-08-16 11:57] thekevinscott commented on #444
Short answer: no.

Longer answer: yes, but you'll need to train your own machine learning model.

This library is built to be model agnostic, meaning [you can provide any model](https://upscalerjs.com/#constructor) that accepts an image-like input (in the form of a 4D tensor) and outputs an image-like input (in the form of a 4D tensor).

The models that exist today are all focused on super resolut

[2022-08-16 11:57] #444 closed

[2022-08-19 18:00] danwexler opened #447 "ESRGAN-SLIM?"
I see that you have a new default model, esrgan-slim. I didn't see any issues explaining what's different about this new model from the previous esrgan-legacy default. I assume it is "better", but can you give me a bit more detail about what's different?

I also see that only the pixel-upsampler and esrgan-legacy/div2k models have 2x and 3x versions. Last time I checked, the results from div2k wer

[2022-08-19 18:02] danwexler commented on #173
@LokiMidgard if you haven't already, you should use tiling to compute the larger images. You need to se the patchSize and padding options to something that fits on the GPU, like patchSize=256 and padding=4.

[2022-08-19 18:03] danwexler commented on #430
This can happen if you use a large source image and do not enable tiling by setting the patchSize and padding options. Can you set patchSize=256 and padding=4 and retest?

[2022-08-20 10:54] thekevinscott commented on #447
You are quite correct that documentation is lacking - I'd been hoping to beef up documentation on the models soon, but I haven't yet.

I'll answer your questions first and then provide more context on why I changed things around and what's still to come.

----

`esrgan-slim` is the same GANS model as before. [It used to live here](https://github.com/thekevinscott/UpscalerJS-models/tree/master/mode

[2022-08-20 21:21] danwexler commented on #447
Fantastic response!

I'll let you know as soon as I get my new NVIDIA 4xxxx machine. Hopefully very soon after release of the new GPU.

Deblurring is just one of several fascinating operations that I'm also working on. I haven't found a repo with a model that can (on first pass at least) be converted to TFJS. I need to retest with the latest converters.

FWIW, even though the model can take any in

[2022-09-01 08:57] stvegerrad opened #455 "Unable to run the project"
**Describe the bug**
I tried to run some examples but it shows this error: "**@parcel/core: Failed to resolve '@upscalerjs/esrgan-slim' from
'./node_modules/upscaler/dist/browser/esm/dependencies.generated.js'**"

**To Reproduce**
1. git clone the project
2. cd examples/progress
3. yarn install, yarn start

**Expected behavior**
Should be run without any issues

**Screenshots**
![image](https://us

[2022-09-01 10:51] thekevinscott commented on #447
This is surprising to me! Is this true with and without explicit patch sizes enabled? I would have assumed that the model would be agnostic to the size of the input. I seem to recall the literature discussing the impact of patch size specifically on training speed, not necessarily on inference performance (assuming you make up for reduced patch sizes with additional epochs of training).

[The patc

[2022-09-01 10:52] thekevinscott commented on #455
Thanks for reporting this, @stvegerrad.

Out of curiosity, can you run the example in `examples/basic`?

(Most of the examples I still need to update for `1.0.0`, but `basic` should be one of the few that's been updated already.)

[2022-09-01 14:43] stvegerrad commented on #455
Got it.
I already test `examples/basic` project and it works well.
Excuse me, could you tell me how long does it take to update full examples to the current version?

[2022-09-01 17:44] danwexler commented on #447
It isn't the patch size, it is the overall source image size. The patch
size does not affect the output at all, in my experience (aside from saving
memory). The model was trained on images that are relatively small, so
that's the pixel resolution it wants for recognizing and generating output
image features. It works on all sizes, but it works best when your input
image is ~300x300.

On Thu, Sep 1

[2022-09-02 14:51] thekevinscott commented on #173
I've gotten a few confused queries around what the relationship is between https://upscaler.ai and the regular UpscalerJS is. It's meant to be a demonstration of UpscalerJS on the web without having to set it up yourself. As such, I think it's best to consolidate the demo under the UpscalerJS docs page to reduce confusion.

I've refactored the code and launched that here (currently an unlisted URL

[2022-09-02 14:52] thekevinscott commented on #173
(Also, any feedback on that new page is welcome!)

[2022-09-02 14:57] thekevinscott commented on #174
[Per this](https://github.com/thekevinscott/UpscalerJS/issues/173#issuecomment-1235597073), there's a new demo page here.

I think the memory leaks should be fixed in the core UpscalerJS package now.

I've updated https://upscalerjs.com/demo in two ways:

- On load, it runs a timing scan for patch sizes to try and find the biggest patch size under 100ms per patch. It then recommends using this. Ho

[2022-09-06 12:45] thekevinscott commented on #455
Hard to say - some should be quick to change over, but others will require some refactoring.

I can prioritize the ones you're interested in, or else I'll just go in alphabetical order.

[2022-09-09 08:35] predmunds opened #469 "Documentation link is broken at bottom of read me"
404

File not found

The site configured at this address does not contain the requested

[2022-09-12 23:13] #469 closed

[2022-09-12 23:13] thekevinscott commented on #469
Thanks for the report, @predmunds ! Fixed in #472

[2022-09-13 06:49] predmunds opened #473 "Upscaler.ai demo - broken link + question about settings used"
Firstly, thanks so much for the live demo of the upscaler.js at upscaler.AI
I tried it on some incredibly complex images and found that the 4xGANS  upscaling was very effective at filling in detail and retaining the colour and contrast of the original image.

just a couple of things related to the upscaler.AI demo

The link at the bottom of the demo page is broken. This is where it is directed to,

[2022-09-17 01:26] thekevinscott commented on #455
The following examples are updated and should be working:

- basic
- cancel
- progress
- react-demo
- tensor
- upload
- warmup
- webcam

The others still have some sort of related bug which I'm working on fixing.

[2022-09-17 01:36] thekevinscott commented on #473
Thanks for the kind words @predmunds!

Thanks for letting me know.

Firstly, the code instantiating the upscaler on https://upscaler.ai [can be found here](https://github.com/thekevinscott/Upscaler.ai/blob/master/src/containers/Upscaled/upscaler.worker.ts#L27).

Something to point out is that [it is using an old version of the upscaler, at `0.7.x`](https://github.com/thekevinscott/Upscaler.ai/blob

[2022-09-17 01:36] thekevinscott commented on #473
I'm going to go ahead and close this but feel free to ask more questions pertaining to the Upscaler instantiation here.

[2022-09-17 01:36] #473 closed

[2022-09-19 18:37] stvegerrad commented on #455
Thanks for your effort.

[2022-09-28 21:39] BooLightning opened #505 "The live demo link"
**Describe the bug**
The demo will not load

**To Reproduce**
Go to https://upscaler.ai/

**Expected behavior**
A loaded website

Relevant screenshot
![7765EFAE-BFF5-4DDF-8704-14C84A901963](https://user-images.githubusercontent.com/99196881/192896250-df1371ba-0b28-492e-96ab-3dfc7a7d2ae9.jpeg)

[2022-09-29 09:28] thekevinscott commented on #505
Thanks for reporting this, @BooLightning.

I think the DNS records may still be propagating. I've just rechecked `downfor.io` and it's looking like it's up now:

<img width="1098" alt="Screen Shot 2022-09-29 at 5 27 58 AM" src="https://user-images.githubusercontent.com/151596/192995146-54630265-159c-4779-8a45-07a9439bb7dd.png">

Could you clear your cache (or try a different browser) and report ba

[2022-09-29 11:21] thekevinscott commented on #505
More investigation: it looks to be an issue with the SSL certificate.

http://upscaler.ai should redirect correctly.

https://upscaler.ai likely fails.

Looking into how to fix.

[2022-09-29 14:15] BooLightning commented on #505
Cleared cookies from the cache and nothing changed.
Also does not work on Chrome or Firefox.
As of now it is still officially ’down’ according to https://downfor.io/upscaler.ai.

P.S. I am on an iPad, which may alter the results

[2022-10-01 13:06] thekevinscott commented on #505
Can you try now? I updated the SSL certificate.

[2022-10-01 15:53] BooLightning commented on #505
It’s working!

[2022-10-01 17:34] thekevinscott commented on #505
Woohoo!

[2022-10-01 17:34] #505 closed

[2022-10-02 16:36] thekevinscott commented on #174
I'm going to close this and #173, as the old upscaler.ai is defunct (it redirects to the new demo page). Please feel free to open a new bug report for any issues found on the new demo page.

[2022-10-02 16:36] #174 closed

[2022-10-02 16:37] thekevinscott commented on #173
I'm going to close this and #174, as the old upscaler.ai is defunct (it redirects to the new demo page). Please feel free to open a new bug report for any issues found on the new demo page.

[2022-10-02 16:37] #173 closed

[2022-10-04 10:48] thekevinscott commented on #455
All the examples should now be updated. Please take a look!

For any issues with particular examples, please open a new issue for that bug.

[2022-10-04 10:48] #455 closed

[2022-10-11 11:47] thekevinscott commented on #447
I've uploaded new models here:

https://drive.google.com/drive/folders/1pp29WO1_uLJTa549W7j6xNpcC_0o93WO?usp=sharing

It's a dump of each model's training artifacts for a variety of scales and architectures, converted to TFJS models. You can either place the folder in the `models` directory of this repo, or manually grab whichever model files you want to play with.

I haven't committed them to the

[2022-10-28 13:30] imlanky opened #554 "Unexpected Token"
[code]

[2022-10-28 14:58] thekevinscott commented on #554
Can you provide a reproducible repository?

An issue like this is usually related to how your bundle or transpiler is set up. You're loading ESM code but whatever setup is complaining that it doesn't know how to handle it.

[2022-11-12 15:21] thekevinscott commented on #554
Closing for now, feel free to reopen with a reproducible repo